@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body {
  background-color: lightgray; }

section {
  padding-top: 7rem; }

.altura {
  padding-top: 3rem; }

.altura2 {
  padding-top: 1rem; }

.tabla-precios, .precio-col {
  display: inline-block;
  width: 100%;
  margin-top: 50px; }

/*Columnas*/
.precio-col {
  background-color: #bebebe;
  margin-top: 0;
  max-width: 500px;
  border-radius: 10px;
  margin-bottom: 50px;
  box-shadow: 0px 2px 5px #dddddd; }

@media screen and (min-width: 768px) {
  .precio-col {
    width: 31%;
    float: left;
    margin-right: 2%; } }

/*Headers*/
.precio-col-header {
  background-color: #bc82ff;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }
  .precio-col-header p {
    color: #000000;
    font-size: 18px;
    margin-bottom: 0;
    text-align: center; }
  .precio-col-header h3 {
    color: #000000;
    font-size: 30px;
    margin-bottom: 0;
    text-align: center;
    font-weight: 600; }

.precio-col:nth-child(2) .precio-col-header {
  background-color: #890aff; }

/*Características*/
.precio-col-features {
  padding: 0 20px 20px 20px; }
  .precio-col-features p {
    padding: 20px 0;
    margin: 0;
    text-align: center;
    border-top: 1px solid #000000; }
    .precio-col-features p:first-child, .precio-col-features p :last-child {
      border-top: none; }

/*Comprar*/
.precio-col-comprar {
  background-color: #c7ca00;
  padding: 10px;
  max-width: 250px;
  text-align: center;
  margin: 0 auto 20px;
  border-radius: 10px;
  border: 2px solid #c7ca00;
  transition: all 0.3s; }
  .precio-col-comprar a {
    color: #f3f3f3;
    padding: 10px;
    font-size: 20px;
    text-transform: uppercase;
    transition: all 0.3s; }
  .precio-col-comprar:hover {
    background-color: #f3f3f3;
    transition: all 0.3s; }

footer {
  width: 100%;
  padding: 50px 0px;
  background-image: url(../imagenes/footer.png);
  background-size: cover; }

.container__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px; }

.box__footer {
  display: flex;
  flex-direction: column;
  padding: 40px; }
  .box__footer .logo img {
    width: 100px; }
  .box__footer .terms {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #1f1f1f;
    font-size: 18px; }
  .box__footer h2 {
    margin-bottom: 30px;
    color: #030303;
    font-weight: 700; }
  .box__footer a {
    margin-top: 10px;
    color: #f3f3f3;
    font-weight: 600; }
    .box__footer a:hover {
      opacity: 0.8; }
    .box__footer a .fa-brands {
      font-size: 20px; }

.box__copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0 40px; }
  .box__copyright p {
    margin-top: 20px;
    color: #1f1f1f; }
  .box__copyright hr {
    border: none;
    height: 1px;
    background-color: #1f1f1f; }
