*{
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}

section {
    padding-top: 7rem;
}
.altura{
    padding-top: 3rem;
}
.altura2{
    padding-top: 1rem;
}
.tabla-precios {
    display:inline-block;
    width:100%;
    margin-top:50px;
   }

   /*Columnas*/

.precio-col {
    @extend .tabla-precios;
    background-color: rgb(190, 190, 190);
    margin-top: 0;
    max-width:500px;
    border-radius:10px;
    margin-bottom:50px;
    box-shadow: 0px 2px 5px #dddddd;
   }

@mixin letra($color_letra, $tamano, $margen){ 
    color: $color_letra;
    font-size: $tamano;
    margin-bottom: $margen;
}

$estilo1: (
    color:#bc82ff,
    centro:center,
    padding: 20px,
    radio: 10px,
);

$estilo2: (
    color:#890aff,
    peso: 600,
    margen: 0,
);

$estilo3: (
    color: #c7ca00,
);

@media screen and (min-width:768px) {
    .precio-col {
    width: 31%;
    float:left;
    margin-right:2%;
    }
}

/*Headers*/

   .precio-col-header {
    background-color: map-get($estilo1, color);
    padding: map-get($estilo1 , padding);
    border-top-left-radius: map-get($estilo1 , radio);
    border-top-right-radius: map-get($estilo1 , radio);
    p{
        @include letra(#000000, 18px, 0);
        text-align: map-get($estilo1 , centro);

    }
    h3{    
        @include letra(#000000, 30px, 0);
        text-align: map-get($estilo1 , centro);
        font-weight: map-get($estilo2 , peso);
    }
}
.precio-col:nth-child(2) .precio-col-header {
    background-color: map-get($estilo2 , color) }

/*Características*/

    .precio-col-features {
        padding: 0 20px 20px 20px;
        p {
            padding:20px 0;
            margin:0;
            text-align:center;
            border-top:1px solid #000000;
            &:first-child,:last-child{
                border-top:none;
            }
        }
    }

/*Comprar*/

    .precio-col-comprar {
        background-color: map-get($estilo3 , color);
        padding:10px;
        max-width:250px;
        text-align:center;
        margin: 0 auto 20px;
        border-radius:10px;
        border: 2px solid map-get($estilo3,color );
        transition: all 0.3s;
        a {
            color:#f3f3f3;
            padding:10px;
            font-size:20px;
            text-transform:uppercase;
            transition: all 0.3s;
           }
        &:hover {
            background-color:#f3f3f3;
            transition: all 0.3s;
           }
    }

footer{
        width: 100%;
        padding: 50px 0px;
        background-image: url(../imagenes/footer.png);
        background-size: cover;
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
    .logo img{
        width: 100px;
    }
    .terms{
        max-width: 350px;
        margin-top: 20px;
        font-weight: 500;
        color: #1f1f1f;
        font-size: 18px;
    }
    h2{
        margin-bottom: 30px;
        color: #030303;
        font-weight: 700;
    }
    a{
        margin-top: 10px;
        color: #f3f3f3;
        font-weight: 600;
        &:hover{
            opacity: 0.8;
        }
        .fa-brands{
            font-size: 20px;
        }
    }
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0 40px;
    p{
        margin-top: 20px;
        color: #1f1f1f;
    }
    hr{
        border: none;
        height: 1px;
        background-color: #1f1f1f;
    }
}
